.latte {
  --blockquote-note-color: #1e66f5;
  --blockquote-tip-color: #40a02b;
  --blockquote-important-color: #8839ef;
  --blockquote-warning-color: #df8e1d;
  --blockquote-caution-color: #d20f39;
}

.frappe {
  --blockquote-note-color: #8caaee;
  --blockquote-tip-color: #a6d189;
  --blockquote-important-color: #ca9ee6;
  --blockquote-warning-color: #e5c890;
  --blockquote-caution-color: #e78284;
}

.macchiato {
  --blockquote-note-color: #8aadf4;
  --blockquote-tip-color: #a6da95;
  --blockquote-important-color: #c6a0f6;
  --blockquote-warning-color: #eed49f;
  --blockquote-caution-color: #ed8796;
}

.mocha {
  --blockquote-note-color: #89b4fa;
  --blockquote-tip-color: #a6e3a1;
  --blockquote-important-color: #cba6f7;
  --blockquote-warning-color: #f9e2af;
  --blockquote-caution-color: #f38ba8;
}
