/**
 * Bling for some titles
 */
h1.menu-title,
li.part-title,
li.chapter-item > div {
  font-family: Unifont, monospace;
}

li.part-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

li.part-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--theme-popup-border);
  margin-left: 1ex;
  opacity: 0.5;
}

/**
 * Hide the numeric markers on the sidebar
 */

li.chapter-item {
  padding-left: 1rem;
}

li.chapter-item > * > strong {
  display: none;
}

/**
 * Make headers a little more obvious
 */

main h1:not(:first-child),
main h2,
main h3,
main h4,
main h5,
main h6 {
  border-bottom: 1px solid var(--theme-popup-border);
}

/* NOTE: must be kept in sync with mdbook's styles for `:target` */
h1:hover::before,
h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before,
h6:hover::before {
  display: inline-block;
  content: '»';
  margin-inline-start: -30px;
  width: 30px;

  opacity: 0.5;
}

/**
 * Ensure inline code blocks have the correct color in links and headings
 */

main a code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: var(--inline-code-color) !important;
}

/**
 * For the 404 page
 */
#_404 {
  white-space: pre;
  font-size: 1.5em;
  font-style: italic;
  text-indent: -1em;
}

/**
 * Make the admonish blocks font size a little smaller
 */
.admonition {
  font-size: 0.9em;
}
